# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import requests
response = requests.get("http://api.citybik.es/v2/networks/citi-bike-nyc")

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [4]:
import pandas as pd
data = response.json()
bike_stations = data['network']['stations']
bike_stations = pd.json_normalize(bike_stations)
bike_station = bike_stations[['id', 'empty_slots', 'free_bikes', 'latitude', 'longitude']].copy()

Put your parsed results into a DataFrame.

In [5]:
bike_station

,id,empty_slots,free_bikes,latitude,longitude
0,46a983722ee1f51813a6a3eb6534a6e4,15,9,40.795000,-73.964500
1,81872dcff5f0e5f1e042aafcc0bab6fd,34,33,40.766741,-73.979069
2,fdb4831d3335a9aea380117ea4f4b81a,27,4,40.801694,-73.957145
3,678fea3bb3afe05788a35750358db726,7,12,40.795508,-73.941606
4,7ca4ed0b4fba2b2fb259ba84bd43e2ad,5,71,40.750585,-73.994685
...,...,...,...,...,...
2163,55bfc3325fe2553102257dbb4578054e,31,0,40.675832,-73.963308
2164,1a498b2ed244716550b887381fb54777,32,6,40.748036,-73.946705
2165,21b2048af20db72928025724c1b48bee,19,6,40.741130,-73.942518
2166,955c5f3727f4313d7c3fe28eb039f7b4,20,5,40.740288,-73.960697
2167,b7f0ddf33c64476f859253778189bc66,19,1,40.714420,-73.900970